body {
    text-align: $text-center;
}

$font-stack: Helvetica,
sans-serif;
$primary-color:rgb(255, 64, 6);

$color-primary: teal;

div h2 {
    color: $color-primary;
}

div p {
    font: 100% $font-stack;
    color: $primary-color;
}